.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #03122f;
  padding: 30px 40px;
  border-radius: 8px;
  border: 2px solid #6bd1ff;
  position: relative;
  width: 80%;
  max-width: 900px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
}

.modal-title {
  color: #2271d1;
  margin-bottom: 20px;
  text-align: center;
}

form {
  width: 100%;
}

form p {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

form p label {
  margin-bottom: 4px;
  color: white;
  text-align: left;
}

form p input,
form p select {
  padding: 8px;
  border: 2px solid #2271d1;
  border-radius: 4px;
  background-color: #03122f;
  color: #a5a5a5;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 2rem;
}

.modal-button {
  background-color: #03122f;
  padding: 0.5rem;
  width: 180px;
  height: 54px;
  border-radius: 15px;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}
