.Banner_container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.Banner_fundo {
  padding: 80px 30px;
  color: white;
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.Banner_item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.Banner_minibanner {
  display: flex;
  align-items: center;
}

.Banner_imagem {
  width: 30rem;
  height: auto;
  margin: 0 4rem 0 0;
}

.Banner_title {
  border-radius: 15px;
  height: 3rem;
  padding: 0.5rem;
  text-align: center;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Banner_title.frontend {
  background-color: #00ccff;
}

.Banner_title.backend {
  background-color: #00c86f;
}

.Banner_title.mobile {
  background-color: #ffba05;
}
