.Banner_container {
  position: relative;
  width: 100%;
  overflow: hidden; /* Oculta conteúdo que transborda */
}

.Banner_fundo {
  padding: 80px 30px;
  color: white;
  height: 400px; /* Altura fixa */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Para distribuir o espaço */
  overflow: hidden; /* Para ocultar transbordos */
}

.Banner_item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.Banner_minibanner {
  display: flex;
  align-items: center;
}

.Banner_imagem {
  width: 30rem;
  height: auto;
  margin: 0 4rem 0 0;
}

.Banner_title {
  color: white;
  border-radius: 15px;
  height: 3rem; /* Altura fixa */
  padding: 0.5rem;
  text-align: center;
  width: 20rem; /* Largura fixa */
  display: flex;
  align-items: center;
  justify-content: center;
}

.frontend {
  background-color: #00ccff;
}

.backend {
  background-color: #00c86f;
}

.mobile {
  background-color: #ffba05;
}

.Banner_textContainer {
  height: 150px; /* Altura fixa para o container de texto */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Mantém os textos alinhados ao final */
  overflow: hidden; /* Oculta texto que transborda */
}
